{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>使用者條款</title>
  <style>
    /* 在這裡設定CSS樣式 */
  </style>
</head>
<body>
  <h1>使用者條款</h1>

  <h2>第一條：使用者註冊</h2>
  <p>使用者必須完成註冊程序，提供正確的個人資料，並同意遵守本使用者條款。</p>

  <h2>第二條：使用者義務</h2>
  <p>使用者應該遵守所有適用的法律和規定，並保證不會從事任何違法、有害或侵犯他人權益的行為。</p>
  <br>
  
  <!-- 其他條款和內容 -->
  <h1>隱私條款</h1>

  <h2>個人資料收集與使用</h2>
  <p>我們收集使用者提供的個人資料，包括姓名、電子郵件地址等，用於特定目的，如提供服務、聯繫使用者等。</p>

  <h2>資料保護與安全</h2>
  <p>我們採取適當的安全措施來保護使用者的個人資料，並防止未經授權的訪問、使用或洩露。</p>

  <!-- 其他條款和內容 -->
</body>
</html>

{% endblock %}